%div{:id => "#{dom_id game_night}"}
  %p
    %strong Title:
    = game_night.title
  %p
    %strong Takes place at:
    = game_night.takes_place_at
  %p
    %strong Players:
    %ul
    - game_night.players.each do |player|
      %li= link_to player.name, player_url(player)
