%div{:id => "#{dom_id game_night}"}
  %p
    %strong Titel:
    = game_night.title
  %p
    %strong Wann?:
    = game_night.takes_place_at
  %p
    %strong Spieler:innen:
    %ul
      - game_night.players.each do |player|
        %li= link_to player.name, player_url(player)
