<div id="<%= dom_id game_night %>">
  <p>
    <strong>Title:</strong>
    <%= game_night.title %>
  </p>

  <p>
    <strong>Takes place at:</strong>
    <%= game_night.takes_place_at %>
  </p>

</div>
