<p style="color: green"><%= notice %></p>

<h1>Game nights</h1>

<div id="game_nights">
  <% @game_nights.each do |game_night| %>
    <%= render game_night %>
    <p>
      <%= link_to "Show this game night", game_night %>
    </p>
  <% end %>
</div>

<%= link_to "New game night", new_game_night_path %>
